/*
 * Hide unused location bar items.
 */
#pageActionButton, #pageActionSeparator, #reader-mode-button, #urlbar-zoom-button
{
    display: none;
}

/*
 * Hide application menu.
 */
#PanelUI-button
{
    display: none;
}

/*
 * Hide tab close buttons.
 */
#tabbrowser-tabs .tab-close-button
{
    display: none;
}
