#qrImage
{
    display: block;
    height: 250px;
    width: 250px;
    cursor: pointer;
}

#qrText
{
    display: block;
    width: 250px;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
}
