/* 隐藏顶部广告栏 */
.page-content > div:nth-child(1), .page-content > div:nth-child(2)
{
    display: none !important;
}

/* 默认全部展开巨型星团珠宝细节 */
#DeliriumPassiveTreeExpansionSkillsnLargeClusterJewel tbody > tr > td:nth-child(2) > div:nth-child(3)
{
    display: block;
}

/* 默认全部展开中型星团珠宝细节 */
#DeliriumPassiveTreeExpansionSkillsnMediumClusterJewel tbody > tr > td:nth-child(2) > div:nth-child(3)
{
    display: block;
}

/* 默认全部展开小型星团珠宝细节 */
#DeliriumPassiveTreeExpansionSkillsnSmallClusterJewel tbody > tr > td:nth-child(2) > div:nth-child(3)
{
    display: block;
}
